@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'), url('https://nomail.com.ua/files/woff/629a55a7e793da068dc580d184cc0e31.woff') format('woff');
}

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}


p,
ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #F0F0F0; */

}

.container-land {
    /* width: 100%; */
    height: 100vh;
    background: url(./img/intro-bg.png) no-repeat center /cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 100vh;
    padding: 50px 0;


}

.header-land {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 968px;
    width: 100%;
    /* position: absolute; */
    margin: 0 auto;
    /* padding: 50px 0; */
}

.header-land__title {

    color: #ffffff;

    font-size: 28px;
    font-weight: 700;

}

.header-land__menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 460px;
    width: 100%;

}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    margin-left: 38px;
    transition: 0.3s;
}

.header-land__menu:first-child {
    margin-left: 0;
}

.nav-link:hover {
    border-bottom: 3px solid #fff;
}

.container-land__intro {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-land__inner {
    text-align: center;

}

.container-land__title {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;

    text-transform: uppercase;
}

.container-land__subtitle {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;

    text-transform: uppercase;
}

.go-down-btn {}

/* ------------- slider-------------- */
.slider {
    display: inline-flex;
    margin: 0 auto;
    padding-top: 95px;


}

.slider__logo {
    width: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;

}

.slider__ui {
    width: 200px;
    height: 200px;
    background-color: #34cf75;
    border-radius: 60px;
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    line-height: 18.92px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;


}

.slider__ux {
    width: 200px;
    height: 200px;

    border-radius: 60px;
    background-color: #e6e7e750;
    color: rgba(255, 96, 95, 1);

    font-size: 42px;
    font-weight: 700;
    line-height: 18.92px;
    text-transform: uppercase;
    display: flex;

    justify-content: center;
    align-items: center;
    position: relative;
    left: -45px;


}



.slider-text {
    max-width: 436px;

}

.slider__title {
    color: #333333;

    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}



.slider__subtitle {
    color: #666666;
    font-family: "OpenSans";
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
}

/* _________________Skills__________ */
.skills-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 110px 0 170px 0;
}

.skills-block__title {
    color: #333333;
    margin-bottom: 85px;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    border-bottom: 3px solid #cccccc50;

}

.skills-block__text {
    max-width: 880px;
    color: #666666;
    font-family: "OpenSans";
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    margin-bottom: 115px;
}


.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-width: 950px;
}

.skills__item {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.value {
    width: 185px;
    height: 185px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background-color: #fff;
    /* border: 12px solid #35afba; */
    position: absolute;
    justify-content: center;
    align-items: center;

    z-index: 100;

}

.sectors1 {
    width: 213px;
    height: 213px;

    display: block;
    border-radius: 50%;
    /* background-color: green; */
    /* border: 12px solid #35afba; */
    float: left;
    /* margin: 1em; */
    background-image: linear-gradient(90deg, transparent 50%, #35afba 50%), linear-gradient(26deg, #35afba 50%, transparent 50%);
    /* position: absolute; */
    z-index: 10;
}

.sectors2 {
    width: 213px;
    height: 213px;

    display: block;
    border-radius: 50%;
    /* background-color: green; */
    /* border: 12px solid #35afba; */
    float: left;
    /* margin: 1em; */
    background-image: linear-gradient(90deg, transparent 50%, #34cf75 50%), linear-gradient(26deg, #34cf75 50%, transparent 50%);
    /* position: absolute; */
    z-index: 10;
}

.sectors3 {
    width: 213px;
    height: 213px;

    display: block;
    border-radius: 50%;
    /* background-color: green; */
    /* border: 12px solid #35afba; */
    float: left;
    /* margin: 1em; */
    background-image: linear-gradient(90deg, transparent 50%, #28ae61 50%), linear-gradient(-22deg, #28ae61 50%, transparent 50%);
    /* position: absolute; */
    z-index: 10;
}

.sectors4 {
    width: 213px;
    height: 213px;

    display: block;
    border-radius: 50%;
    /* background-color: green; */
    /* border: 12px solid #35afba; */
    float: left;
    /* margin: 1em; */
    background-image: linear-gradient(90deg, transparent 50%, #5ea8d9 50%), linear-gradient(-22deg, #5ea8d9 50%, transparent 50%);
    /* position: absolute; */
    z-index: 10;
}

.value-percent {
    color: #666666;
    font-family: Montserrat;
    font-size: 57px;
    font-weight: 700;
}

.value-skill {
    color: #999999;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 32.35px;
}

/* ______________________experience__________________________ */
.experience {
    width: 100%;
    max-width: 956px;
    margin: 150px auto;
    display: flex;



}

.experience-description {
    width: 100%;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 57px;
}

.experience-description__title {
    color: #333333;
    width: 100%;
    max-width: 330px;
    font-size: 28px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 55px;
}

.experience-description__text {
    color: #666666;
    font-family: "OpenSans";
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    width: 100%;
    max-width: 330px;
    margin-bottom: 33px;
}


.experience-description__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 201px;
    height: 47px;
    border: 2px solid #55c1e7;
    border-radius: 5px;
}

.experience-description__btn a {
    color: #55c1e7;

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
}

/* ________________jobs-item________________ */
.jobs {
    border-left: 2px solid #d4d4d4;
    padding: 70px 0 25px 0;
}



.jobs-item {
    display: flex;
    position: relative;
    margin: 45px 0;
}

.jobs-item::before {
    content: "";
    display: block;
    position: absolute;
    left: -15px;
    top: 12px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 3px solid #cccccc;
    background-color: #fff;
}

.jobs-item__logo {

    width: 53px;
    height: 53px;
    border-radius: 20px;
    margin: 0 30px;
}

.jobs-item__logo1 {
    background: url(./img/job-items/job-1.png);
}

.jobs-item__logo2 {
    background: url(./img/job-items/amazon.png);
}

.jobs-item__logo3 {
    background: url(./img/job-items/apple.png);
}

.jobs-item__logo4 {
    background: url(./img/job-items/ibm.png);
}

.jobs-item__text {
    max-width: 430px;
}

.jobs-item__company {
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.jobs-item__position {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.jobs-item__details {
    color: #999999;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.jobs-years {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #cccccc;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    background-color: #fff;
    position: relative;
    width: 22px;
}

.y2008 {
    position: absolute;
    top: 98%;
    background-color: #fff;
}

.y2012 {
    position: absolute;
    top: 45%;
    background-color: #fff;
}

.y2013 {
    position: absolute;
    top: 0%;
    background-color: #fff;
}