@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
        url('https://nomail.com.ua/files/woff/07689d4eaaa3d530d58826b5d7f84735.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'), url('https://nomail.com.ua/files/woff/629a55a7e793da068dc580d184cc0e31.woff') format('woff');
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #F0F0F0; */
    font-family: 'Montserrat';
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 950px;

}

.header {
    text-align: center;
    margin: 70px;
    padding: 0;

}

.header a {
    color: #333333;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid #cccccc;


}

.grid {
    display: grid;
    align-content: center;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 160px 160px 160px;
    grid-gap: 30px;
    margin: 0 auto;

}

.grid div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2/4;
    grid-row: 1/3;
    max-width: 470px;
    width: 100%;
    max-height: 345px;
    height: 100%;
    background-image: none;
    background-color: #4ebde6;
    border-radius: 30px;

}

.lorem {
    color: #ffffff;
    font-family: "OpenSans";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    max-width: 350px;
    text-align: center;
}

.hov-eff {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.add-image {

    background: url(./img/add-img.png) no-repeat center;
}