@media (max-width:960px) {

    .grid {
        display: grid;
        align-content: center;
        grid-template-columns: 220px 220px 220px;
        grid-template-rows: 160px 160px 160px 160px;


    }

    .grid div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 2/4;
        grid-row: 1/3;


    }
}

@media (max-width:860px) {

    .grid {
        display: grid;
        align-content: center;
        grid-template-columns: 220px 220px;
        grid-template-rows: 160px 160px 160px 160px 160px 160px;


    }

    .grid div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 1/3;
        grid-row: 1/3;


    }

    @media (max-width:460px) {

        .grid {
            display: grid;
            justify-content: center;
            grid-template-columns: 1fr;
            grid-template-rows: 260px 160px 160px 160px 160px 160px 160px 160px 160px 160px 160px 160px;


        }

        .grid div:nth-child(1) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0;
            padding: 10px;
            grid-column: 1;
            grid-row: 1;


        }
    }